$primary-color: #199683;
$secondary-color: #dad9d7;
$accent-color: #e2e1df;
$font-color: #000000;
$font-default-color: #fff;
$border-color: #ccc;
$font-weight: (
  "regular": 400,
  "medium": 600,
  "bold": 900,
);
$vertical-padding: 4rem 0;
$assetPath: "../webImages";
